@page "/collection-log"

<h3>Collection log items</h3>

<ul>
    @foreach (var item in LogItems) {
        <li>
            @item
        </li>
    }
</ul>

@code {

    [Inject]
    public ICollectionLogItemProvider CollectionLogItemProvider { get; set; }

    public List<string> LogItems { get; set; } = new();

    protected override async Task OnInitializedAsync() {
        var items = await CollectionLogItemProvider.GetCollectionLogItemNames();
        LogItems = items.Value.OrderBy(x => x).ToList();

        await base.OnInitializedAsync();
    }

}